.fs_swiper-container {
  margin:0 auto;
  position:relative;
  overflow:hidden;
  list-style:none;
  padding:0;
  z-index:1;
}

.fs_swiper-container-no-flexbox .fs_swiper-slide {
  float:left;
}

.fs_swiper-container-vertical > .fs_swiper-wrapper {
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
}

.fs_swiper-wrapper {
  position:relative;
  width:100%;
  height:100%;
  z-index:1;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-transition-property:-webkit-transform;
  transition-property:-webkit-transform;
  -o-transition-property:transform;
  transition-property:transform;
  transition-property:transform, -webkit-transform;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
}

.fs_swiper-container-android .fs_swiper-slide,
.fs_swiper-wrapper {
  -webkit-transform:translate3d(0px, 0, 0);
  transform:translate3d(0px, 0, 0);
}

.fs_swiper-container-multirow > .fs_swiper-wrapper {
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
}

.fs_swiper-container-free-mode > .fs_swiper-wrapper {
  -webkit-transition-timing-function:ease-out;
  -o-transition-timing-function:ease-out;
  transition-timing-function:ease-out;
  margin:0 auto;
}

.fs_swiper-slide {
  -webkit-flex-shrink:0;
  -ms-flex-negative:0;
  flex-shrink:0;
  width:100%;
  height:100%;
  position:relative;
  -webkit-transition-property:-webkit-transform;
  transition-property:-webkit-transform;
  -o-transition-property:transform;
  transition-property:transform;
  transition-property:transform, -webkit-transform;
}

.fs_swiper-slide-invisible-blank {
  visibility:hidden;
}

/* Auto Height */
.fs_swiper-container-autoheight,
.fs_swiper-container-autoheight .fs_swiper-slide {
  height:auto;
}

.fs_swiper-container-autoheight .fs_swiper-wrapper {
  -webkit-box-align:start;
  -webkit-align-items:flex-start;
  -ms-flex-align:start;
  align-items:flex-start;
  -webkit-transition-property:height, -webkit-transform;
  transition-property:height, -webkit-transform;
  -o-transition-property:transform, height;
  transition-property:transform, height;
  transition-property:transform, height, -webkit-transform;
}

/* IE10 Windows Phone 8 Fixes */
.fs_swiper-container-wp8-horizontal,
.fs_swiper-container-wp8-horizontal > .fs_swiper-wrapper {
  -ms-touch-action:pan-y;
  touch-action:pan-y;
}

.fs_swiper-container-wp8-vertical,
.fs_swiper-container-wp8-vertical > .fs_swiper-wrapper {
  -ms-touch-action:pan-x;
  touch-action:pan-x;
}

.fs_swiper-button-prev,
.fs_swiper-button-next {
  position:absolute;
  top:50%;
  width:27px;
  height:44px;
  margin-top:-22px;
  z-index:10;
  cursor:pointer;
  background-size:27px 44px;
  background-position:center;
  background-repeat:no-repeat;
}

.fs_swiper-button-prev.swiper-button-disabled,
.fs_swiper-button-next.swiper-button-disabled {
  opacity:0.35;
  cursor:auto;
  pointer-events:none;
}

.fs_swiper-button-prev,
.fs_swiper-container-rtl .fs_swiper-button-next {
  left:20px;
  right:auto;
}

.fs_swiper-button-next,
.fs_swiper-container-rtl .fs_swiper-button-prev {
  right:20px;
  left:auto;
}

.fs_swiper-button-prev.swiper-button-white,
.fs_swiper-container-rtl .fs_swiper-button-next.swiper-button-white {
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.fs_swiper-button-next.swiper-button-white,
.fs_swiper-container-rtl .fs_swiper-button-prev.swiper-button-white {
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.fs_swiper-button-prev.swiper-button-black,
.fs_swiper-container-rtl .fs_swiper-button-next.swiper-button-black {
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.fs_swiper-button-next.swiper-button-black,
.fs_swiper-container-rtl .fs_swiper-button-prev.swiper-button-black {
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.fs_swiper-button-lock {
  display:none;
}

.fs_swiper-pagination {
  position:absolute;
  text-align:center;
  -webkit-transition:300ms opacity;
  -o-transition:300ms opacity;
  transition:300ms opacity;
  -webkit-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
  z-index:10;
}

.fs_swiper-pagination.fs_swiper-pagination-hidden {
  opacity:0;
}

/* Common Styles */
.fs_swiper-pagination-fraction,
.fs_swiper-pagination-custom,
.fs_swiper-container-horizontal > .fs_swiper-pagination-bullets {
  bottom:30px;
  left:0;
  width:100%;
}

/* Bullets */
.fs_swiper-pagination-bullets-dynamic {
  overflow:hidden;
  font-size:0;
}

.fs_swiper-pagination-bullets-dynamic .fs_swiper-pagination-bullet {
  -webkit-transform:scale(0.33);
  -ms-transform:scale(0.33);
  transform:scale(0.33);
  position:relative;
}

.fs_swiper-pagination-bullets-dynamic .fs_swiper-pagination-bullet-active {
  -webkit-transform:scale(1);
  -ms-transform:scale(1);
  transform:scale(1);
}

.fs_swiper-pagination-bullets-dynamic .fs_swiper-pagination-bullet-active-main {
  -webkit-transform:scale(1);
  -ms-transform:scale(1);
  transform:scale(1);
}

.fs_swiper-pagination-bullets-dynamic .fs_swiper-pagination-bullet-active-prev {
  -webkit-transform:scale(0.66);
  -ms-transform:scale(0.66);
  transform:scale(0.66);
}

.fs_swiper-pagination-bullets-dynamic .fs_swiper-pagination-bullet-active-prev-prev {
  -webkit-transform:scale(0.33);
  -ms-transform:scale(0.33);
  transform:scale(0.33);
}

.fs_swiper-pagination-bullets-dynamic .fs_swiper-pagination-bullet-active-next {
  -webkit-transform:scale(0.66);
  -ms-transform:scale(0.66);
  transform:scale(0.66);
}

.fs_swiper-pagination-bullets-dynamic .fs_swiper-pagination-bullet-active-next-next {
  -webkit-transform:scale(0.33);
  -ms-transform:scale(0.33);
  transform:scale(0.33);
}

.fs_swiper-pagination-bullet {
  width:12px;
  height:12px;
  display:inline-block;
  border-radius:100%;
  background:#029fcf;
  opacity:0.5;
}

button.fs_swiper-pagination-bullet {
  border:none;
  margin:0;
  padding:0;
  -webkit-box-shadow:none;
  box-shadow:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

.fs_swiper-pagination-clickable .fs_swiper-pagination-bullet {
  cursor:pointer;
}

.fs_swiper-pagination-bullet-active {
  opacity:1;
  background:#029fcf;
}

.fs_swiper-container-vertical > .fs_swiper-pagination-bullets {
  right:10px;
  top:50%;
  -webkit-transform:translate3d(0px, -50%, 0);
  transform:translate3d(0px, -50%, 0);
}

.fs_swiper-container-vertical > .fs_swiper-pagination-bullets .fs_swiper-pagination-bullet {
  margin:6px 0;
  display:block;
}

.fs_swiper-container-vertical > .fs_swiper-pagination-bullets.fs_swiper-pagination-bullets-dynamic {
  top:50%;
  -webkit-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  transform:translateY(-50%);
  width:8px;
}

.fs_swiper-container-vertical > .fs_swiper-pagination-bullets.fs_swiper-pagination-bullets-dynamic .fs_swiper-pagination-bullet {
  display:inline-block;
  -webkit-transition:200ms top, 200ms -webkit-transform;
  transition:200ms top, 200ms -webkit-transform;
  -o-transition:200ms transform, 200ms top;
  transition:200ms transform, 200ms top;
  transition:200ms transform, 200ms top, 200ms -webkit-transform;
}

.fs_swiper-container-horizontal > .fs_swiper-pagination-bullets .fs_swiper-pagination-bullet {
  margin:0 4px;
}

.fs_swiper-container-horizontal > .fs_swiper-pagination-bullets.fs_swiper-pagination-bullets-dynamic {
  left:50%;
  -webkit-transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  transform:translateX(-50%);
  white-space:nowrap;
}

.fs_swiper-container-horizontal > .fs_swiper-pagination-bullets.fs_swiper-pagination-bullets-dynamic .fs_swiper-pagination-bullet {
  -webkit-transition:200ms left, 200ms -webkit-transform;
  transition:200ms left, 200ms -webkit-transform;
  -o-transition:200ms transform, 200ms left;
  transition:200ms transform, 200ms left;
  transition:200ms transform, 200ms left, 200ms -webkit-transform;
}

.fs_swiper-container-horizontal.fs_swiper-container-rtl > .fs_swiper-pagination-bullets-dynamic .fs_swiper-pagination-bullet {
  -webkit-transition:200ms right, 200ms -webkit-transform;
  transition:200ms right, 200ms -webkit-transform;
  -o-transition:200ms transform, 200ms right;
  transition:200ms transform, 200ms right;
  transition:200ms transform, 200ms right, 200ms -webkit-transform;
}

/* Progress */
.fs_swiper-pagination-progressbar {
  background:rgba(0, 0, 0, 0.25);
  position:absolute;
}

.fs_swiper-pagination-progressbar .fs_swiper-pagination-progressbar-fill {
  background:#007aff;
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  -webkit-transform:scale(0);
  -ms-transform:scale(0);
  transform:scale(0);
  -webkit-transform-origin:left top;
  -ms-transform-origin:left top;
  transform-origin:left top;
}

.fs_swiper-container-rtl .fs_swiper-pagination-progressbar .fs_swiper-pagination-progressbar-fill {
  -webkit-transform-origin:right top;
  -ms-transform-origin:right top;
  transform-origin:right top;
}

.fs_swiper-container-horizontal > .fs_swiper-pagination-progressbar,
.fs_swiper-container-vertical > .fs_swiper-pagination-progressbar.fs_swiper-pagination-progressbar-opposite {
  width:100%;
  height:4px;
  left:0;
  top:0;
}

.fs_swiper-container-vertical > .fs_swiper-pagination-progressbar,
.fs_swiper-container-horizontal > .fs_swiper-pagination-progressbar.fs_swiper-pagination-progressbar-opposite {
  width:4px;
  height:100%;
  left:0;
  top:0;
}

.fs_swiper-pagination-white .fs_swiper-pagination-bullet-active {
  background:#ffffff;
}

.fs_swiper-pagination-progressbar.fs_swiper-pagination-white {
  background:rgba(255, 255, 255, 0.25);
}

.fs_swiper-pagination-progressbar.fs_swiper-pagination-white .fs_swiper-pagination-progressbar-fill {
  background:#ffffff;
}

.fs_swiper-pagination-black .fs_swiper-pagination-bullet-active {
  background:#000000;
}

.fs_swiper-pagination-progressbar.fs_swiper-pagination-black {
  background:rgba(0, 0, 0, 0.25);
}

.fs_swiper-pagination-progressbar.fs_swiper-pagination-black .fs_swiper-pagination-progressbar-fill {
  background:#000000;
}

.fs_swiper-pagination-lock {
  display:none;
}
